.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.content-container {
  display: flex;
}

.div1,
.div3 {
  // border: 3px solid black;
  min-width: 30%;
  height: 100vh;

  @media screen and (min-width: 320px) and (max-width: 510px) {
    min-width: 0%;
  }

  @media screen and (min-width: 511px) and (max-width: 810px) {
    min-width: 12.5%;
  }

  @media screen and (min-width: 811px) and (max-width: 1110px) {
    min-width: 25.5%;
  }
}

.div2 {
  width: 100%;
  // border: 2px solid salmon;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  list-style: none;
  height: max-content;
}